
.Button-container {
    padding-top: 20px;
  }

.Button {
    border: solid 1px;
    padding: 10px 20px;
    font-size: calc(5px + 2vmin);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .next {
    background-color: lightgreen;
  }
  
  .restart {
    background-color: yellow;
  }