.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Board-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.Button {
  border: solid 1px;
  padding: 10px 20px;
  font-size: calc(5px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.next {
  background-color: lightgreen;
}

.restart {
  background-color: yellow;
}

.Board {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 0.2em;
}

.Cell {
  color: black;
  flex-grow: 1;
  border: black solid 1px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.Button-container {
  padding-top: 20px;
}

.Unknown {
  background-color: lightgray;
}

.Clear {
  background-color: lightgreen;
}

.Danger-1 {
  background-color: yellow;
}

.Danger-2 {
  background-color: orange;;
}
.Danger-3 {
  background-color: red;
}
.Danger-4 {
  background-color: darkred;
}
.Danger-5 {
  background-color: violet;
}
.Danger-6 {
  background-color: darkorchid;
}
.Danger-7 {
  background-color: darkslateblue;
}
.Danger-8 {
  background-color: blue;
}

.Exploded {
  background-color: black;
}